{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="row">
<div class="col-1"></div><div class="col-10">

    <div class="card text-bg-secondary mb-3" style="max-width: 70rem;">
        
        <div class="card-body">
          <h5 class="card-title">Leaders</h5>
          <p class="card-text"> We have grown leaps and bounds under the aegis of our Proprietor, “Mr. Sanjay Kadakia” and “Mr. Ashish Kadakia”, who are highly talented and persons with dynamic personality. It is due to their rich industry experience, in-depth product knowledge and sharp business acumen that we have been able to serve our patrons in a fruitful manner and garner huge client base across every nook and corner of the nation.</p>
        </div>
      </div>
      <br>

<div class="card text-bg-info mb-3" style="max-width: 70rem;">
   
    <div class="card-body">
      <h5 class="card-title">What Else We Do</h5>
      <p class="card-text">
        Established in the year 2006, we "Steel Tech Engineers” are counted among the leading and trusted manufacturers and suppliers of a comprehensive range of Fasteners and Pneumatic & Rubber Parts. Fabricated with utmost precision and perfection, our range encompasses Ferrous & Non Ferrous Fasteners, Hydraulic & Pneumatic Parts, Textile & Railway Parts and HD & LD Rubber Parts. All these products are specifically manufactured using finest quality raw material, which are sourced from vendors, who are renowned for delivering high grade products in the industry. Further, the use of advanced machines and techniques during the manufacturing of these products, these posses striking attributes such as accurate dimensions, resistance against corrosion, tear & wear, high tensile strength, easy fitting, low maintenance and longer functional life. In addition to delivering these superior products, we are engaged in rendering prompt and effective Fabrication Services.
Empowered with a diligent team of expert professionals and sound infrastructure facility, we have been able to offer excellent range of products and services that strictly adheres to the laid norms and standards of the set industry.
      </p>
    </div>
</div>
<br>
<div class="card text-bg-dark mb-3" style="max-width: 70rem;">

    <div class="card-body">
      <h5 class="card-title">Vision</h5>
      <p class="card-text">Our mission hereby is to expand globally,
        strenghthen local trade and supply, build a better network and supply chain to make it easier for our clients, widen our scope of manufacturing more and more products in our workshops, give more job opportunities and employement, develop and eqiup ourselves further with skillful workers to complete each and every requirement of the market.
        And the most important strenghthen relationships with our existing tradepartner, ethically complete all orders, cater the best possible convinience to our trade partners!
        At the end Uplift the indian steel market! Here we go steel tech!</p>
    </div>
  </div>

<br>
<div class="card alert alert-primary mb-3" style="max-width: 70rem;">
    
    <div class="card-body">
      <h5 class="card-title">Mission</h5>
      <p class="card-text">Experts of their working domain, our professionals make judicious use of all the machines and equipment installed in our manufacturing unit so as to offer products that are designed and developed meeting specific requirements of the customers. Further, these professionals also check each and every range during various stages of manufacturing and prior to its dispatch so as to ensure delivery of only defect free products. Keeping a tab on the quality and client's requirements, these professionals also ensure that the products offered are delivered and services rendered are accomplished within agreed time-frame. Along with this, our ethical business practices, cost effective pricing and client centric approach have helped us to remain a step ahead of our counterparts</p>
    </div>
  </div>
  <br>
  <div class="card alert alert-light mb-3" style="max-width: 70rem;">
   
    <div class="card-body">
      <h5 class="card-title">Industries we cater</h5>
      <p class="card-text">Industries we cater:steel plants,thermal power stations ,railways,oil extraction companies ,chemical companies, carbon black projects,rayon company</p>
    </div>
  </div>

</div>
</div>


{% endblock %}